<div style="width:20%;text-align: center;margin-left: 40%;margin-top: 10%;">

  <form [formGroup]="blockForm">
    <div class="mb-3">
      <label for="exampleInputUsername" class="form-label">Username</label>
      <input type="username" formControlName="username" class="form-control" id="exampleInputUsername"
        aria-describedby="usernameHelp">

    </div>
    <div class="mb-3">
      <label for="exampleInputComment" class="form-label">Comment</label>
      <input type="comment" formControlName="comment" class="form-control" id="exampleInputComment">
    </div>
    <button type="submit" class="btn btn-primary" (click)="block()" style="margin-top: 1em;">BLOCK</button>
  </form>

</div>