<p>MESSAGES:</p>
<div *ngFor="let m of this.messages">
  <span>{{m.sender}} {{m.receiver}} {{m.date | date}} {{m.message}}</span>
</div>

<form [formGroup]="messageForm"
  style="width: 100%;  margin-left: 30%; margin-top: 1%; display: flex; align-items: center;">

  <div class="mb-3" style="display: inline-block; margin-right: 10px;">
    <!-- <label for="exampleInputUser" class="form-label">User</label> -->
    <input type="user" formControlName="message" class="form-control" id="exampleInputMessage"
      aria-describedby="messageHelp">
  </div>
  <button type="submit" class="btn btn-success" (click)="sentMessage()"
    style="margin-top: -1em; display: inline-block;"><strong>SENT</strong></button>

</form>