<!-- <button class="btn btn-danger" (click)="delete_location_markers()">DELETE MARKERS</button> -->
<!-- route.id.split('_')[2]==='0' -->

<div><button class="btn btn-danger" (click)="delete_location_markers()">DELETE
    MARKERS</button></div>
<div>
  <div id="routes-lists" *ngFor="let route of this.routePartExtendInterface" (click)="onDivClick(route.id)"
    [id]="route.id" [ngClass]="{'selected': route.selected}">
    <p>NAME: {{ route.name }} </p>
    <p><span style="color:aqua">LENGTH: {{ route.length }}</span><span style="color: chartreuse;"> TIME:{{ route.time
        }}</span></p>
    <!-- <p>TIME:{{ route.time }}</p> -->
    <p>*******************************************</p>
  </div>
  <p>TOTAL TIME : {{totalAmount}}</p>
  <p>TOTAL LENGTH : {{totalLength}}</p>
  <div><button class="btn btn-success" (click)="amount_route()">TIME ROUTE</button></div>
  <div><button class="btn btn-primary" (click)="length_route()">LENGTH ROUTE</button></div>

</div>