<div style="text-align: center;margin-left: 40%;margin-top: 10%;">

  <form [formGroup]="cloneForm">
    <div class="mb-3">
      <label for="exampleInputId" class="form-label">ID</label>
      <input type="id" formControlName="id" class="form-control" id="exampleInputId" aria-describedby="idHelp">

    </div>

    <div class="mb-3">
      <label for="exampleInputName" class="form-label">NAME</label>
      <input type="text" formControlName="name" class="form-control" id="exampleInputName" aria-describedby="idHelp">

    </div>

    <div class="mb-3">
      <label for="exampleInputStart" class="form-label">START</label>
      <input type="text" formControlName="start" class="form-control" id="exampleInputStart" aria-describedby="idHelp">

    </div>

    <div class="mb-3">
      <label for="exampleInputEnd" class="form-label">END</label>
      <input type="text" formControlName="end" class="form-control" id="exampleInputEnd" aria-describedby="idHelp">

    </div>

    <div class="mb-3">
      <label for="exampleInputPrice" class="form-label">PRICE</label>
      <input type="text" formControlName="price" class="form-control" id="exampleInputPrice" aria-describedby="idHelp">

    </div>

    <div class="mb-3">
      <label for="exampleInputDriverFirstName" class="form-label">DRIVER FN</label>
      <input type="text" formControlName="driverfirstName" class="form-control" id="exampleInputDriverFirstName"
        aria-describedby="idHelp">

    </div>

    <div class="mb-3">
      <label for="exampleInputDriverLastName" class="form-label">DRIVER LN</label>
      <input type="text" formControlName="driverLastName" class="form-control" id="exampleInputDriverLastName"
        aria-describedby="idHelp">

    </div>

    <div class="mb-3">
      <label for="exampleInputMarks" class="form-label">MARKS</label>
      <input type="text" formControlName="marks" class="form-control" id="exampleInputMarks" aria-describedby="idHelp">

    </div>

    <div class="mb-3">
      <label for="exampleInputCitizens" class="form-label">CITIZENS</label>
      <input type="text" formControlName="citizens" class="form-control" id="exampleInputCitizens"
        aria-describedby="idHelp">

    </div>

    <div class="form-group">
      <label for="exampleFormControlSelect1">SELECT MINUTES</label>
      <select formControlName="minutes" class="form-control" id="exampleFormControlSelect1">
        <option>0</option>
        <option>30</option>
        <option>45</option>
        <option>60</option>
        <option>120</option>
        <option>180</option>
        <option>240</option>
        <option>300</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary" (click)="cloneRide()" style="margin-top: 1em;">CLONE</button>
  </form>

</div>